{% extends "site_base.html" %}
{% load humanize %} {% load static %}

{% block body_class %}resource{% endblock %}

{% block page-subtitle %}| {{ resource.title }}{% endblock %}

{% block content %}

<article>
    <header>
        <div class="container">
            <h1>{{ resource.title }}</h1>

            {% if resource.authors %}
            <h2 class="h3">Principal Investigator{{ resource.authors|pluralize }}</h2>

            <p class="lead">{{ resource.authors|join:'; ' }}</p>
            {% endif %}

            
            <h2 class="h3">Date{{ resource.dates|pluralize }}</h2>
            <p class="lead">
                {% if resource.dates %}
                {{ resource.dates|join:'; ' }}
                {% else %}
                N/A
                {% endif %}
            </p>
        </div>
    </header>
    <section>
        <div class="container">
            <h2>Abstract</h2>
            <p>{{ resource.abstract }}</p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Keywords</h2>
                    <ul class="tagsinput">
                        {% for kw in resource.keywords %}
                        <li class="tag">
                            <a href="#">{{ kw }}</a>
                            <a class="tagsinput-link">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                <div class="col-sm-6">
                    <h2>geo_coverage</h2>
                    <ul class="tagsinput">
                        {% for gl in resource.geo_coverage %}
                        <li class="tag">
                            <a href="#">{{ gl }}</a>
                            <a class="tagsinput-link">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2>Geographic Locations</h2>
                    
                    <div class="map">
                        <img src="{% static 'img/Flat-World-Map.gif' %}"/>

                        <div class="location-marker north-america">
                            <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="North America"></span>
                        </div>
                        <div class="location-marker south-america">
                            <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="South America"></span>
                        </div>
                        <div class="location-marker europe">
                            <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Europe"></span>
                        </div>
                        <div class="location-marker africa">
                            <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Africa"></span>
                        </div>
                        <div class="location-marker asia">
                            <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Asia"></span>
                        </div>
                        <div class="location-marker australia">
                            <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Australia"></span>
                        </div>
                    </div>

                </div>
            </div><!-- /row -->
        </div>
    </section>

    <section id="collection-meta">
        <header>
            <div class="container">
                <h2>About the Data</h2>
            </div>
        </header>
        <div class="container">
            <ul class="info-card">
                <li class="col-sm-3">
                    <h3>Time Periods</h3>
                    {% for tp in resource.time_periods %}
                        {% if tp %}
                            <p>{{tp}}</p>
                        {% endif %}
                    {% endfor %}
                </li>
                <li class="col-sm-3">
                    <h3>Collection Dates</h3>
                    {% for d in resource.dates %}
                        {% if d %}
                            <p>{{d}}</p>
                        {% endif %}
                    {% endfor %}
                </li>
                <li class="col-sm-3">
                    <h3>Unit of Analysis</h3>
                    {% for au in resource.analysis_unit %}
                        <p>{{au}}</p>
                    {% endfor %}
                </li>
                <li class="col-sm-3">
                    <h3>Kind of Data</h3>
                    {% for kd in resource.kind_of_data %}
                        <p>{{kd}}</p>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </section>

    <section id="study-notes">
        <div class="container">
            {% if resource.study_notes %}
            <h2>Field Notes</h2>
            {% for sn in resource.study_notes %}
            {{sn}}
            {% endfor %}
            {% endif %}
        </div>
    </section>


</article>


{% endblock %}