{% extends "site_base.html" %}
{% load search_utils %}

{% block content %}
<h1>Search</h1>

{% if keywords %}
<p>Search terms: <b>{{ keywords }}</b>
{% else %}
{# display search form when no keywords / form invalid #}
<form type="GET" action="{% url 'ddi:search' %}">
  {{ form.as_p }}
  <input type="submit"/>
</form>
{% endif %}

<p>Found <b>{{ results.paginator.count }}</b> total results.</p>

<p>Number of results to show per page:
    {% for n in per_page_choices %}
        {% ifequal n per_page %} {{ n }} {% else %}
        <a href="?{{ rechunk_params }}&amp;per_page={{ n }}">{{ n }}</a>
        {% endifequal %}
    {% endfor %}
    </p>

{% pagination_links results pages  url_params=url_params %}

<ul>
{% for r in results.object_list %}
<li>{{ r.title }}</li>
{% empty %}
<li>No results found.</li>
{% endfor %}
<ul>

{% endblock %}