{% extends "site_base.html" %}
{% load humanize %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="container" id="search">
	<h1>Search for resources here.</h1>
	{% include 'ddi/snippets/search_form.html' %}
</div><!-- /.container -->
	{% include 'ddi/snippets/loading.html' %}
<div class="wrapper recent">
	<div class="container">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="tile">
				<h3>New Additions</h3>
				<ul>
                    {% for res in new_resources %}
					<li><a href="{% url 'ddi:resource' id=res.id agency=res.id.agency %}">{{ res.title }}</a>
                        <small>({{ res.document_version.date|naturalday }})</small>
                    </li>
                    {% empty %}
                    <li>No resources have been added since {{ new_since|naturalday }}.</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.wrapper -->
{% endblock %}