{% extends "site_base.html" %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="container" id="search">
	<h1>Search for resources here.</h1>
	{% include 'ddi/snippets/search_form.html' %}
</div><!-- /.container -->
	{% include 'ddi/snippets/loading.html' %}
<div class="wrapper recent">
	<div class="container">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="tile">
				<h3>New Additions</h3>
				<ul>
					<li>This is a name of a recent resource</li>
					<li>This is a name of a recent resource</li>
					<li>This is a name of a recent resource</li>
					<li>This is a name of a recent resource</li>
					<li>This is a name of a recent resource</li>
				</ul>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.wrapper -->
{% endblock %}