{% extends "site_base.html" %}
{% load humanize %}

{% block page-subtitle %}| Browse by Geography{% endblock %}

{% block content %}
<div class="container">
    <h1>Browse by Geography{% if place %} : {{ place.name }}{% endif %}</h1>

{% if places %}
<ul>
    {% for pl in places %}
    <li><a href="?geonames_id={{pl.geonames_id}}">{{ pl.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if resources %}
<ul>
    {% for r in resources %}
    <li>{{ r.title }}</li>
    {% endfor %}
</ul>
{% endif %}

</div>
{% endblock %}

