{% extends "site_base.html" %}
{% load humanize %} {% load geo_tags %}

{% block page-subtitle %}| Browse by Geography{% endblock %}

{% block content %}
<div id="st-container">
 <div class="st-pusher">
  {% include 'ddi/snippets/preview_aside.html' %}
  <div class="st-content"><!-- this is the wrapper for the content -->
    <div class="container">
      <h1>Browse by {{ current_place.name|default:'Geography' }}</h1>

      {% if hierarchy %}
      <ol class="breadcrumb">
        <li><a href="{% url 'geo:browse' %}">Global</a></li>
        {% for place in hierarchy %}
          {% if place == current_place %}
          <li class="active">{{ place.name }}</li>
          {% else %}
          <li><a href="{{ place|location_url }}">{{ place.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
      {% endif %}

      <ul>
        {% for p in places %}
          <li><a href="{{ p|location_url }}">{{ p.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="container">
        {% if current_place %}
          {% with resource_label="with "|add:current_place.name|default:'Global'|add:" coverage" %}
            {% include 'ddi/snippets/search_results.html' %}
          {% endwith %}
        {% else %}
          {% include 'ddi/snippets/search_results.html' with resource_label="with Global coverage" %}
        {% endif %}
    </div>
  </div>

</div>
</div>
{% endblock %}

