{% extends "site_base.html" %}
{% load humanize %}

{% block page-subtitle %}| Browse by Geography | {{ continent.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ continent.name }}</h1>

{# todo: snippet ? #}
<ol class="breadcrumb">
  <li><a href="{% url 'geo:browse' %}">Global</a></li>
  <li class="active">{{ continent.name }}</li>
</ol>

{# TODO: snippet? #}
{% if places %}
<ul>
    {% for pl in places %}
    <li><a href="{% url 'geo:country' continent.code pl.code %}">{{ pl.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if results %}
<h2>Resources with {{ continent.name }} coverage</h2>
    <div class="container">
        {% include 'ddi/snippets/search_results.html' %}
    </div>
{% endif %}

</div>
{% endblock %}

