{% url 'site-index' as index_url %}

{# new search link; only show when *not* on home page #}
{% if request.path != index_url %}
<div class="reset-form pull-right">
	<a href="{% url 'ddi:search' %}"><span class="glyphicon glyphicon-repeat"></span> New Search</a>
</div>
{% endif %}

<form type="GET" id="search-form" action="{% url 'ddi:search' %}">
	{{ form.non_field_errors }}  {# display any form-wide validation errors #}

	<label class="sr-only" for="id_keyword">{{ form.keyword.label }}</label>
	<div class="search-bar">
		<div class="container">
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<div class="input-group">
					{{ form.keyword }}
					<span class="input-group-btn">
						<button id="submit" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div><!-- /input-group -->
			</div>

			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<p class="text-muted inverse">{{ form.keyword.help_text }}</p>
			</div>
		</div><!--/.container-->
	</div>
	{# Advanced Search Filter + per page / sort options #}
    {% include "ddi/snippets/search_filters.html" %}
</form>

