{% url 'site-index' as index_url %}

{# new search link; only show when *not* on home page #}
{% if request.path != index_url %}
<div class="reset-form pull-right">
	<a href="{% url 'ddi:search' %}"><span class="glyphicon glyphicon-repeat"></span> New Search</a>
</div>
{% endif %}

<form type="GET" id="search-form" action="{% url 'ddi:search' %}">
	{{ form.non_field_errors }}  {# display any form-wide validation errors #}

	<label class="sr-only" for="id_keyword">{{ form.keyword }}</label>
	<div class="search-bar">
		<div class="container">
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<div class="input-group">
					{{ form.keyword }}
					<span class="input-group-btn">
						<button id="submit" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div><!-- /input-group -->
			</div>

			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
				<p class="text-muted inverse">{{ form.keyword.help_text }}</p>
			</div>
		</div><!--/.container-->
	</div>
	<span class="adv toggle switch" data-type="advfields">
		<a href="#">search options <span class="glyphicon glyphicon-chevron-down"></span></a>
	</span>
	<div class="filter">

		{# start Advanced Filter #}
		<fieldset class="adv toggle group" data-type="advfields" style="display:none;">

			<header class="col-sm-12">
				<h4>Advanced Search Options</h4>
			</header>
			{# for each advanced field #}
			{% for field in form.advanced_fields %}
			<div class="form-group">
				<label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
				<div class="col-sm-10">
					{{ field }}
					{# <input type="text" class="form-control" id="testInput1" placeholder="Test Advanced Field"> #}
				</div>
			</div>
			{% endfor %}


			<div class="form-group" id="date-range">
				<label for="{{ field.name }}" class="col-sm-5 control-label">Return datasets between these years:</label>
				<div class="col-sm-7">
					<div class="row">
						{# {{ form.start_date }} to {{ form.end_date }} #}
						<div class="col-xs-5">
							{{ form.start_date }}
							{# <input type="text" class="form-control" id="testInput1" placeholder="Test Advanced Field"> #}
						</div>
						<div class="col-xs-1"><p class="small centered">to</p></div>
						<div class="col-xs-5">
							{{ form.end_date }}
							{# <input type="text" class="form-control" id="testInput1" placeholder="Test Advanced Field"> #}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-6 pull-right">
					<div class="row">
						<div class="controls btn-group-sm col-xs-6">
							<button class="reset btn btn-default btn-adv">Clear Criteria</button>
						</div>
						<div class="controls btn-group-sm col-xs-6">
							<button id="submit2" class="btn btn-primary btn-adv" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		{# end Advanced Filter #}
        {% include 'ddi/snippets/search_options.html' %}  {# per page & sort #}
	</div>
</form>

