html, body{
	min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	background-color: #F7F7F7;
	color:#525C66;
}

.no-padding-right{
	padding-right: 0;
}

.tooltip.in {
	opacity: 1;
}

.search-bar .tooltip.in {
	left: 0%!important;
	top: 14px !important;
	margin-top: -1em;
	position: absolute;
	float: left;
	z-index: 1;
}

.tooltip-inner {
	background-color: #708192;
	padding: 1em;
	margin-top: 0em;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #708192;
}

.tooltip-inner{
	width: 100%;
}

.search-bar .mobile{
	display: none;
}

.search-bar .mobile p{
	font-size: 0.8em;
}

.filter {
	background-color: #666;
}

.filter fieldset{
	margin: auto;
	width: 100%;
	max-width: 500px;
	padding-bottom: 15px;
}

.filter .page-options{
	background-color: #BDC3C7;
}

.filter .page-options .btn-default{
	background-color: #8E969C;
}
.filter .page-options .option label{
	color:#6A7175;
}

#search{
	width: 100%;
	background-color: #BDC3C7;
	padding-top: 2em;
	margin:0;
	padding-right: 0;
	padding-left: 0;
}

#search form{
	margin-bottom: 0px;
	clear: both;
}

/* Home */

.home{
	min-height: 100%;
	background-color: #BDC3C7;
	transition:background-color 1s;
}

.home #search h1{
	text-align: center;
	padding-bottom: 1em;
}	

.home .page-options{
}

.recent{
	margin-top: 4em;
	background-color: #B3BCC2;
	padding:2em 0;
}

.recent h3 {
	margin-top: 15px;
}

.recent ul {
	padding-left: 0;
	list-style: none;
	margin-left: 0;
}

.recent li {
	font-size: 14px;    
}

.search-bar{

}

.search-bar .form-control,
.search-bar .input-group-btn button{
	font-size: 24px;
	height: 56px;
}

.search-bar .container .tooltip.fade{
	display: block;
	position: relative;
}

.search-bar .container .tooltip-inner{
	max-width: 100%;
}

.search-bar .text-muted.inverse {
	font-size: 12px;
	margin-top: 10px;
}

.loader {
	width: 100%;
	padding-top: 13px;
	display: block;
	float: left;
}
.loader img {
	margin: auto;
	width: 70px;
	display: block;
	opacity: 0.7;
}

@media (max-width: 767px){
	.search-bar .tooltip.desktop{
		display: none !important;
	}
	.search-bar .mobile{
		display: block;
	}
}

.input-group-btn:last-child>.btn {
	margin-left: -1px;
	border-bottom: 1px solid #B8B8B8;
}


.filter .option {
	float: left;
	padding: 1em 2em 0em 0em;
}

.filter .option label {
	margin-bottom: 0;
	color: #E2E2E2;
	font-weight: 300;
}

.btn-group.select .btn {
	padding-right: 2em;
}

.btn-group > .dropdown-menu{
	visibility: hidden;
}
.open > .dropdown-menu{
	visibility: visible;
}

.adv.group {
	max-width: 700px;
}

.adv.group .form-group {
	position: relative;
	float: left;
	width: 100%;
}

.adv.toggle.switch {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 0.9em;
}

.adv.toggle.switch a{
	color: rgb(150, 150, 150);
}

.adv.toggle.switch a:hover, 
.adv.toggle.switch a:focus,
.toggle.switch.active a {
	color: #f6f6f6;
}

.adv.group header h4 {
	text-align: center;
	color: #BDC3C7;
	border-bottom: 1px solid rgb(112, 112, 112);
	margin-bottom: 4px;
	padding-bottom: 7px;
}

.adv.group input {
	margin-bottom: 15px;
}
.adv.group label{
	font-size: .8em;
	color: rgb(213, 213, 213);
	margin-bottom: 0;
}

.reset-form {
	margin-right: 30px;
	margin-top: -20px;
	margin-bottom: 20px;
	font-size: 0.9em;
}
.reset-form a {
	color: rgb(131, 133, 141);
	text-shadow: 1px 1px 3px rgb(209, 209, 209);
}
.reset-form a:hover {
	color: #F7F7F7;
}

.glyphicon{
	transition: transform .2s;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -webkit-transform .2s;
}

.active .glyphicon,
.rotate180{
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}


/*Results*/

.results.wrapper{
	background-color: #F7F7F7;
}

.results header, .results footer {
	text-align: center;
}

.results header h2 {
	font-weight: normal;
	margin-bottom: 0;
}
.results header .lead {
	color: rgb(156, 156, 156);
}

.results header .pagination,
.results footer .pagination {
	margin-top: 0;
}

.results header > .pagination h4 {
	margin: 12px 0 5px;
	color: #BABEC0;
}

.results footer h2 {
	margin-bottom: 0;
}

.pagination ul li > a.last {
	background-color: rgb(255, 255, 255);
	color: #4488DF;
	border-color: #FFF;
	border-width: 4px;
}
.pagination ul li > a.last:hover{
	background-color: #4488DF;
	border-color:#4488DF;
	color:#FFF;
}

.cards article {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
	max-height: 300px;
	overflow: hidden;
	transition:all 1s;
}

.cards .clone{
	display: block;
	position: absolute;
	margin-left: 0%;
	z-index: 2;
	padding-left: 0;
}

article.results footer{
	background-color: transparent;
	width: 100%;
	float:left;
}

article.result h3 {
	margin-top: 0;
	font-size: 1.1em;
	text-align: left;
}

article.result h4 {
	font-size: 0.8em;
	text-align: left;
}

article.result h4 span,
.content h4 span{
	font-weight: normal;
}

article.result p {
	font-size: 14px;
}

.result .title, 
.result .summary {
	padding: 0.5em 1em 0;
}
.result .title {
	background-color: #FFFFFF;
	border-bottom: 1px solid #F0F0F0;
}

.readmore {
	font-size: 1.4em;
	line-height: 0;
	float: left;
	color: rgb(194, 205, 216);
	cursor: pointer;
	background-color: rgb(238, 238, 238);
	position: absolute;
	right: -4px;
	padding: 6px 14px;
}
.readmore:hover {
	background-color: rgb(235, 235, 235);
}

#menu-7 .content .readmore{
	display: none;
	visibility: hidden;
}

#menu-7 .progress {
	margin-top: 20px;
}
.st-menu h2 {
	background: rgb(60, 60, 60);
	color: #8A8A8A;
}
.st-menu {
	background: rgb(230, 230, 230);
	color: rgb(54, 54, 54);
}
.st-menu .content p {
	font-size: 0.8em;
}
#menu-7 .close {
	color: #EEEEEE;
	text-shadow: none;
	margin: 40px 20px 0;
}

/**** INDIVIDUAL RESULT PAGE ARTICLE ****/
/* (.resource) */

.resource article > header{
	background-color: #EDEEF1;
}

header .h3 {
	margin-bottom: 0;
}

header .lead{
	font-size: 24px;
}

.tagsinput {
	height: auto;
	border-color: #E6EAEE;
}

.tagsinput .tag a{
	color:#fff;
}

.tagsinput .tag:hover,
.tagsinput .tag a:hover,
.tagsinput .tag a:action{
	color:#D7EBE5;
}

.map {
	height: 200px;
	position: relative;
}
.map img {
	height: 100%;
}

.location-marker{
	position: absolute;
	color: rgb(184, 64, 41);
	font-size: 1.25em;
}

.location-marker.north-america {
	top: 40px;
	left: 54px;
}
.location-marker.south-america {
	top: 100px;
	left: 87px;
}
.location-marker.europe {
	top: 27px;
	left: 173px;
}
.location-marker.africa {
	top: 90px;
	left: 184px;
}
.location-marker.asia {
	top: 40px;
	left: 254px;
}
.location-marker.australia {
	top: 120px;
	left: 314px;
}

